<div class="container-fluid"  style="width: 400px;" >
    <mat-card class="bg-body ">
      <!-- <mat-card-header>LOGIN</mat-card-header> -->
      <h1 class="text-center"> Login </h1>
      <form >
        <mat-card-content> 
          <mat-label class="email-p">Email</mat-label>
          <mat-form-field class="input-group" appearance="outline"  >
            <mat-icon matPrefix class="my-icon" >perm_identity</mat-icon>
            <input class="input-field"  matInput  placeholder="Enter email address" required >
          </mat-form-field>
          
          <mat-label class="password-p">Password</mat-label>
          <mat-form-field class="input-group " appearance="outline" >
            
            <mat-icon matPrefix class="my-icon" >lock</mat-icon>
            <input class="input-field"  matInput  required [type]="hide ? 'password' : 'text'"  placeholder="Enter your password">
          </mat-form-field>
         <mat-checkbox color="#7bfc00"></mat-checkbox>Keep me logged in
       </mat-card-content>
    
       <mat-card-actions class="justify-content-center">
        <button class="btn btn-lg w-50" type="submit" (click)="loginfn()" >LOGIN</button>
       </mat-card-actions>
    
         <mat-card-footer class="text-center">
          <div class="justify-content-center mb-3">
            <a class="text-decoration-none"  routerLinkActive="activebutton" routerLink="/register" ariaCurrentWhenActive="page"><span style="color:#5a5a5a">Need an account?</span> Sign up</a>
          </div>
        </mat-card-footer>
      </form>  
    </mat-card> 
    </div>
  